NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=bonus-academy
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=
NEXT_PUBLIC_FIREBASE_VAPID_KEY=
NEXT_PUBLIC_ADMIN_API_BASE=https://bonus-admin-beta.vercel.app
NEXT_PUBLIC_CF_STREAM_DOMAIN=
NEXT_PUBLIC_SENTRY_DSN=
NEXT_PUBLIC_ALGOLIA_APP_ID=2G3N621ZL8

FIREBASE_SERVICE_ACCOUNT_JSON=
VDOCIPHER_API_SECRET=
ALGOLIA_SEARCH_KEY=
SENTRY_DSN=
OTP_GATEWAY_URL=
